<a href="https://colab.research.google.com/github/skyworld19/ds-school-advanced/blob/master/ML_03_LinearRegression_2_%EB%B3%B4%EC%8A%A4%ED%84%B4%EC%A3%BC%ED%83%9D%EA%B0%80%EA%B2%A9%EC%98%88%EC%B8%A1_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Linear Regression 2. 보스턴 주택가격 예측

### A. 다중 회귀 (Feature가 여러 개)

#### 1. 데이터 가져오기

In [ ]:
from sklearn.datasets import load_boston
# 1. 보스턴 데이터를 가져와 boston 이름으로 저장
boston = load_boston()

In [ ]:
# boston 데이터의 key 목록 확인  (target_names가 없음 - 범주형이 아니기 때문)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [ ]:
# boston 데이터셋의 data에 대한 shape 확인

(506, 13)

In [ ]:
# boston 데이터셋의 target에 대한 값 확인

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [ ]:
# boston 데이터셋의 feature_names 확인

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [ ]:
# boston 데이터셋의 설명 확인 (교재 66)
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [ ]:
# 보스턴 데이터 가져와서 DataFrame 만들기

import pandas as pd
# 1. 보스턴 데이터의 data(독립변수, X, feature)를 사용하여 DataFrame 생성,
#   이때 columns를 보스턴 데이터의 feature_names로 지정한다.
# 2. 보스턴 데이터의 target을 DataFrame에 새로운 열 'PRICE'로 추가한다
df = 

# DataFrame의 첫 5개 행을 출력해 본다

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [ ]:
# df에 대한 통계량을 확인한다 (describe())

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
# df의 column 별 Name, Non-Null Count, dtype을 알아본다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

#### 2. 데이터 분할

In [ ]:
from sklearn.model_selection import train_test_split
# x,y 데이터를 만들어, training, test용 데이터로 분할 한다
# 1. df(보스턴 데이터의 DataFrame) 의 'CRIM':'LSTAT' 열을 X로 지정한다
# 2. df의 'PRICE' 열을 y로 지정한다
# 3. X, y를 75%:25%의 비율로 random_state=0을 사용해 분할하여
#    x_train, x_test, y_train, y_test로 저장한다
X = 
y = 
x_train, x_test, y_train, y_test = 

# x_train, x_test, y_train, y_test 각각의 shape을 확인한다

((379, 13), (127, 13), (379,), (127,))

In [ ]:
# df를 'boston.csv'로 저장한다

#### 3. 모델 학습 및 평가

In [ ]:
from sklearn.linear_model import LinearRegression
# train 데이터와 LinearRegression()을 사용하여 model을 생성한다
model = 
# train 및 test 데이터를 사용하여 model의 성능을 평가한다

(0.7697699488741149, 0.6354638433202144)

In [ ]:
model.coef_

array([-1.17735289e-01,  4.40174969e-02, -5.76814314e-03,  2.39341594e+00,
       -1.55894211e+01,  3.76896770e+00, -7.03517828e-03, -1.43495641e+00,
        2.40081086e-01, -1.12972810e-02, -9.85546732e-01,  8.44443453e-03,
       -4.99116797e-01])

In [ ]:
# 표준화를 적용해 본다 - 성능이 좋지 않음
from sklearn.preprocessing import StandardScaler
boston = load_boston()
X = 
y = 
X_train, X_test, y_train, y_test = 
model =

(0.7697699488741149, 0.6354638433202129)

In [ ]:
# 정규화를 적용해 본다 - 성능이 좋지 않음
from sklearn.preprocessing import MinMaxScaler
boston = load_boston()
X = 
y = 
X_train, X_test, y_train, y_test = 
model =

(0.7697699488741149, 0.6354638433202122)

### B. 다항 회귀 (Polynomial Features) 개념
- 연속형 레이블과 특성 간의 관계가 선형이 아닌 경우 1차식으로 표현이 불가능하여
2차식 이상의 다항식으로 변형하여 회귀 분석을 진행 해야함
- 기존의 특성에 다항을 적용하여 새로운 특성을 추가
- scikit-learn의 경우 PolynomialFeatures 객체를 이용하여 다항 변환 및
상호교차항을 쉽게 추가 가능

- sklearn.preprocessing.PolynomialFeatures
   - degree : 차수(2, 3, ... 과 같은 정수로 지정)
   - include_bias : 상수항 포함 유무(True)
   - interaction_only : 상호교차항만 반환 유무(False), 상호교차항 -> 다차항이 아닌 항들
   - X_poly = PolynomialFeatures.fit_transform(x)를 사용해 다항 변환
   - feature_names = PolynomialFeatures.get_feature_names()를 사용해 feature의 이름 반환
   - 1	x0	x0^2  (반환된 이름에서 1은 상수항, x0는 상호교차항, x0^2은 다차항)

In [ ]:
# X0 특성을 2차항 변환(상수항 포함)
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
# 5개 instance를 갖는 1개 Feature 구조의 x 생성
x = np.arange(5).reshape(-1, 1)

# 2차항 변환을 위한 PolynomialFeatures 객체를 생성하여 P라는 이름을 지정한다.
# x에 대해 2차항을 만들고 그 결과를 DataFrame으로 변환한다.
# DataFrame의 columns는 P의 get_feature_names()를 사용한다.
degree = 2
P =

     1   x0  x0^2
0  1.0  0.0   0.0
1  1.0  1.0   1.0
2  1.0  2.0   4.0
3  1.0  3.0   9.0
4  1.0  4.0  16.0

In [ ]:
# X0, X1 특성을 2차항 변환(상수항 포함)
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
# 5개 instance를 갖는 2개 Feature 구조의 x 생성
x = np.arange(10).reshape(-1, 2)

# 2개의 Feature를 갖는 x에 위와 동일한 작업을 수행한다. (결과 확인)
degree = 2
P =

     1   x0   x1  x0^2  x0 x1  x1^2
0  1.0  0.0  1.0   0.0    0.0   1.0
1  1.0  2.0  3.0   4.0    6.0   9.0
2  1.0  4.0  5.0  16.0   20.0  25.0
3  1.0  6.0  7.0  36.0   42.0  49.0
4  1.0  8.0  9.0  64.0   72.0  81.0

In [ ]:
# X0, X1 특성을 2차항 변환(상수항 미포함)
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
x = np.arange(10).reshape(-1, 2)

# 2개의 Feature를 갖는 x에 위와 동일한 작업을 수행한다. (결과 확인)
# 상수항을 미포함하기 위해 include_bias=False로 지정한다
degree = 2
P =

    x0   x1  x0^2  x0 x1  x1^2
0  0.0  1.0   0.0    0.0   1.0
1  2.0  3.0   4.0    6.0   9.0
2  4.0  5.0  16.0   20.0  25.0
3  6.0  7.0  36.0   42.0  49.0
4  8.0  9.0  64.0   72.0  81.0

### C. 다항(Polynomial) 회귀 - 보스톤 데이터

#### 보스톤 데이터에 2차항 다항 변환 적용

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
# 1. 2차항 다항 변환에 사용할  PolynomialFeatures 객체를 생성하여 P로 이름 붙인다.
#    단, 상수항은 제외하도록 한다
# 2. df(보스턴 데이터의 DataFrame) 의 'CRIM':'LSTAT' 열에 대해 다항 변환을 적용하여
#    x_poly 이름을 붙인다.
# 3. x_poly와 y를 75%:25% 비율로 분할하여 x_train, x_test, y_train, y_test를 생성한다
#    이때, random_state=0을 사용한다.
degree = 2
P = 
x_poly = 
x_train, x_test, y_train, y_test = 

# df의 'CRIM':'LSTAT' 열에대한 shape과 x_poly의 shape을 출력하여 비교한다

((506, 13), (506, 104))

#### 모델 생성 및 학습
- 과대적합을 확인한다!
- train 데이터가 0.7697 -> 0.9520로 성능이 좋아졌음
- train과 test 데이터의 성능차이가 크며, test 데이터 쪽의 성능이 좋지 않음

In [ ]:
from sklearn.linear_model import LinearRegression
# 선형회귀 모델을 생성하고, train 데이터를 사용하여 훈련시킨다. 
model = 
# train, test 데이터를 사용해 모델의 성능을 평가한다

(0.9520519609032728, 0.6074721959643441)

#### 보스톤 데이터에 3차항 다항 변환 적용

In [ ]:
degree = 3
P = 
X = 
x_poly = 
x_train, x_test, y_train, y_test =

(1.0, -9443.83433778228)

#### 보스톤 데이터에 5차항 다항 변환 적용

In [ ]:
degree = 5
P = 
X = 
x_poly =

(1.0, -135.30506303269232)

### D. Regularization
- 다항회귀 시 차수가 높아 질 수록 과대적합이 발생하여 예측 성능이 저하되는 문제가 발생
- 과대적합을 방지하기 위해서는 가중치의 크기를 제어 필요
- 기존의 비용 함수에 규제(Penalty) 항을 추가하여 가중치의 크기를 제어 가능