<a href="https://colab.research.google.com/github/skyworld19/ds-school-advanced/blob/master/ML_05_%ED%9A%8C%EA%B7%80%EB%AA%A8%EB%8D%B8%ED%8F%89%EA%B0%80%EC%A7%80%ED%91%9C_GridSearchCV_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 보스톤 데이터 - Ridge

In [1]:
# 라이브러리 import
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

In [2]:
# 데이터 가져오기
boston = load_boston()
X = boston['data']
y = boston['target']
feature_names = boston['feature_names']
df = pd.DataFrame(X, columns=feature_names)
df['PRICE'] = y
df.head(5)

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [3]:
# 데이터 전처리, 분할
X = df.loc[:, 'CRIM':'LSTAT']
y = df.loc[:, 'PRICE']
degree = 3
x_scaled = MinMaxScaler().fit_transform(X)
P = PolynomialFeatures(degree=degree, include_bias=False)
x_poly = P.fit_transform(x_scaled)
x_train, x_test, y_train, y_test = train_test_split(x_poly, y, random_state=0)
[a.shape for a in (x_train, x_test, y_train, y_test)]

[(379, 559), (127, 559), (379,), (127,)]

In [4]:
# 모델링, 평가
alpha=0.1
model = Ridge(alpha=alpha).fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.9537155397034656, 0.7905570432110397)

### 예측값 구하기

In [6]:
y_pred = model.predict(x_test)

### $R^2$ score
- ```model.score(X, y)```
- ```sklearn.metrics.r2_score(y_true, y_pred)```

In [11]:
from sklearn.metrics import r2_score
model.score(x_test, y_test), r2_score(y_test, y_pred) #y_test:실제정답

(0.7905570432110397, 0.7905570432110397)

### MAE(Mean Absolute Error)
```sklearn.metrics.mean_absolute_error(y_true, y_pred)```

In [8]:
from sklearn.metrics import mean_absolute_error as mae
mae(y_test, y_pred)

2.7419189417256002

### MSE(Mean Squared Error)
```sklearn.metrics.mean_squared_error(y_true, y_pred)```

In [9]:
from sklearn.metrics import mean_squared_error as mse
mse(y_test, y_pred)

17.111283360088102

### RMSE(Root Mean Squared Error)
- sklearn API에 없음
- MSE에 math.sqrt() 를 사용함

In [10]:
from sklearn.metrics import mean_squared_error as mse
import math
mse(y_test, y_pred)**0.5

4.136578702271734

### GridSearchCV를 사용한 hyperparameter 찾기
- https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
- https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [12]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from  sklearn.model_selection import GridSearchCV

In [13]:
# 데이터 가져오기
boston = load_boston()
X = boston['data']
y = boston['target']
feature_names = boston['feature_names']
df = pd.DataFrame(X, columns=feature_names)
df['PRICE'] = y
df.to_csv('boston.csv', index=False)

In [14]:
## 데이터 섞어 주기
from sklearn.utils import shuffle
df = pd.read_csv('boston.csv')
dfA = df.sample(frac=1, random_state=0) 
dfB = shuffle(df, random_state=0)

In [15]:
dfA.head()

         CRIM   ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
329   0.06724  0.0   3.24   0.0  0.460  ...  430.0     16.9  375.21   7.34   22.6
371   9.23230  0.0  18.10   0.0  0.631  ...  666.0     20.2  366.15   9.53   50.0
219   0.11425  0.0  13.89   1.0  0.550  ...  276.0     16.4  393.74  10.50   23.0
403  24.80170  0.0  18.10   0.0  0.693  ...  666.0     20.2  396.90  19.77    8.3
78    0.05646  0.0  12.83   0.0  0.437  ...  398.0     18.7  386.40  12.34   21.2

[5 rows x 14 columns]

In [16]:
dfB.head()

         CRIM   ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
329   0.06724  0.0   3.24   0.0  0.460  ...  430.0     16.9  375.21   7.34   22.6
371   9.23230  0.0  18.10   0.0  0.631  ...  666.0     20.2  366.15   9.53   50.0
219   0.11425  0.0  13.89   1.0  0.550  ...  276.0     16.4  393.74  10.50   23.0
403  24.80170  0.0  18.10   0.0  0.693  ...  666.0     20.2  396.90  19.77    8.3
78    0.05646  0.0  12.83   0.0  0.437  ...  398.0     18.7  386.40  12.34   21.2

[5 rows x 14 columns]

In [17]:
# 데이터 전처리, 분할
df = pd.read_csv('boston.csv')
df = df.sample(frac=1, random_state=0)  ## 데이터 섞어 주기
X = df.loc[:, 'CRIM':'LSTAT']
y = df.loc[:, 'PRICE']

degree = 3
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(X)
P = PolynomialFeatures(degree=degree, include_bias=False)
x_poly = P.fit_transform(x_scaled)

In [18]:
# 모델 생성
model = Ridge()    # hyper parameter를 넣지 않음

In [21]:
import numpy as np
# 파라미터를 딕셔너리 형태로 제공 (Key값 틀리면 ValueError 발생)
#alphas = [0.1, 0.2, 0.3, 1, 10]   
alphas = np.arange(0.01, 0.15, 0.01)
params = {'alpha': alphas}

In [22]:
from sklearn.model_selection import GridSearchCV
#param_grid의 하이퍼 파라미터를  3개의 train, testset fold로 나누어 테스트 수행 설정
#refit=True : 가장 좋은 파라미터 설정으로 재 학습시킴
grid_model = GridSearchCV(model, params, cv=10, refit=True)
grid_model.fit(x_poly, y)

#GridSearchCV 결과를 추출해 보기 편하게 DataFrame으로 변환
gm_df = pd.DataFrame(grid_model.cv_results_)
gm_df

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0        0.031701      0.007999  ...        0.053953                3
1        0.025301      0.007138  ...        0.058362                1
2        0.029097      0.007530  ...        0.063598                2
3        0.022323      0.006335  ...        0.068295                4
4        0.020900      0.005933  ...        0.072361                5
5        0.022695      0.007518  ...        0.075872                6
6        0.032857      0.002409  ...        0.078923                7
7        0.024559      0.007403  ...        0.081595                8
8        0.024392      0.007857  ...        0.083955                9
9        0.027218      0.006942  ...        0.086056               10
10       0.022333      0.005112  ...        0.087943               11
11       0.023341      0.007063  ...        0.089647               12
12       0.019482      0.005362  ...        0.091198               13
13       0.022374      0.005705  ...        0.092616               14

[14 rows x 19 columns]

In [26]:
gm_df[['params','mean_test_score','rank_test_score',
       'split0_test_score','split1_test_score','split2_test_score']]

                             params  ...  split2_test_score
0                   {'alpha': 0.01}  ...           0.879153
1                   {'alpha': 0.02}  ...           0.887405
2                   {'alpha': 0.03}  ...           0.890149
3                   {'alpha': 0.04}  ...           0.891545
4                   {'alpha': 0.05}  ...           0.892380
5   {'alpha': 0.060000000000000005}  ...           0.892927
6    {'alpha': 0.06999999999999999}  ...           0.893312
7                   {'alpha': 0.08}  ...           0.893599
8                   {'alpha': 0.09}  ...           0.893825
9    {'alpha': 0.09999999999999999}  ...           0.894013
10                  {'alpha': 0.11}  ...           0.894175
11                  {'alpha': 0.12}  ...           0.894322
12                  {'alpha': 0.13}  ...           0.894458
13                  {'alpha': 0.14}  ...           0.894586

[14 rows x 6 columns]

In [23]:
gm_df.columns

Index(['mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time',
       'param_alpha', 'params', 'split0_test_score', 'split1_test_score',
       'split2_test_score', 'split3_test_score', 'split4_test_score',
       'split5_test_score', 'split6_test_score', 'split7_test_score',
       'split8_test_score', 'split9_test_score', 'mean_test_score',
       'std_test_score', 'rank_test_score'],
      dtype='object')

In [27]:
## 최적 파라미터, 최고 정확도 표출
print('GridSearchCV의 최적 파라미터 {}'.format(grid_model.best_params_))
print('GridSearchCV의 최고 정확도 {:.4f}'.format(grid_model.best_score_))

GridSearchCV의 최적 파라미터 {'alpha': 0.02}
GridSearchCV의 최고 정확도 0.8832

In [28]:
#최적의 Estimator를 이용하여 평가, 정확도 추측
from sklearn.metrics import r2_score
estimator = grid_model.best_estimator_
#값 예측 
pred = estimator.predict(x_test)
print('테스트 정확도 : {:.4f}'.format(r2_score(y_test, pred)))

테스트 정확도 : 0.9102