<a href="https://colab.research.google.com/github/skyworld19/ds-school-advanced/blob/master/ML_03_LinearRegression_2_%EB%B3%B4%EC%8A%A4%ED%84%B4%EC%A3%BC%ED%83%9D%EA%B0%80%EA%B2%A9%EC%98%88%EC%B8%A1_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Linear Regression 2. 보스턴 주택가격 예측

### A. 다중 회귀 (Feature가 여러 개)

#### 1. 데이터 가져오기

In [2]:
from sklearn.datasets import load_boston
# 1. 보스턴 데이터를 가져와 boston 이름으로 저장
boston = load_boston()

In [3]:
# boston 데이터의 key 목록 확인  (target_names가 없음 - 범주형이 아니기 때문)
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [6]:
# boston 데이터셋의 data에 대한 shape 확인
boston.data.shape

(506, 13)

In [7]:
# boston 데이터셋의 target에 대한 값 확인
boston.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [8]:
# boston 데이터셋의 feature_names 확인
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [9]:
# boston 데이터셋의 설명 확인 (교재 66)
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [10]:
# 보스턴 데이터 가져와서 DataFrame 만들기

import pandas as pd
# 1. 보스턴 데이터의 data(독립변수, X, feature)를 사용하여 DataFrame 생성,
#   이때 columns를 보스턴 데이터의 feature_names로 지정한다.
# 2. 보스턴 데이터의 target을 DataFrame에 새로운 열 'PRICE'로 추가한다
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['PRICE'] = boston.target
# DataFrame의 첫 5개 행을 출력해 본다
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [11]:
# df에 대한 통계량을 확인한다 (describe())
df.describe().T

         count        mean         std  ...        50%         75%       max
CRIM     506.0    3.613524    8.601545  ...    0.25651    3.677083   88.9762
ZN       506.0   11.363636   23.322453  ...    0.00000   12.500000  100.0000
INDUS    506.0   11.136779    6.860353  ...    9.69000   18.100000   27.7400
CHAS     506.0    0.069170    0.253994  ...    0.00000    0.000000    1.0000
NOX      506.0    0.554695    0.115878  ...    0.53800    0.624000    0.8710
RM       506.0    6.284634    0.702617  ...    6.20850    6.623500    8.7800
AGE      506.0   68.574901   28.148861  ...   77.50000   94.075000  100.0000
DIS      506.0    3.795043    2.105710  ...    3.20745    5.188425   12.1265
RAD      506.0    9.549407    8.707259  ...    5.00000   24.000000   24.0000
TAX      506.0  408.237154  168.537116  ...  330.00000  666.000000  711.0000
PTRATIO  506.0   18.455534    2.164946  ...   19.05000   20.200000   22.0000
B        506.0  356.674032   91.294864  ...  391.44000  396.225000  396.9000
LSTAT    506.0   12.653063    7.141062  ...   11.36000   16.955000   37.9700
PRICE    506.0   22.532806    9.197104  ...   21.20000   25.000000   50.0000

[14 rows x 8 columns]

In [12]:
# df의 column 별 Name, Non-Null Count, dtype을 알아본다
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

#### 2. 데이터 분할

In [22]:

X

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [24]:
from sklearn.model_selection import train_test_split
# x,y 데이터를 만들어, training, test용 데이터로 분할 한다
# 1. df(보스턴 데이터의 DataFrame) 의 'CRIM':'LSTAT' 열을 X로 지정한다
# 2. df의 'PRICE' 열을 y로 지정한다
# 3. X, y를 75%:25%의 비율로 random_state=0을 사용해 분할하여
#    x_train, x_test, y_train, y_test로 저장한다
X = df.loc[:,'CRIM':'LSTAT']
y = df['PRICE']
x_train, x_test, y_train, y_test =  train_test_split(X, y, test_size=0.5, random_state=0)

# x_train, x_test, y_train, y_test 각각의 shape을 확인한다
[x.shape for x in [x_train, x_test, y_train, y_test]]

[(253, 13), (253, 13), (253,), (253,)]

In [25]:
# df를 'boston.csv'로 저장한다
df.to_csv('boston.csv', index=False)

#### 3. 모델 학습 및 평가

In [26]:
from sklearn.linear_model import LinearRegression
# train 데이터와 LinearRegression()을 사용하여 model을 생성한다
model = LinearRegression().fit(x_train, y_train)
# train 및 test 데이터를 사용하여 model의 성능을 평가한다 
model.score(x_train, y_train), model.score(x_test, y_test)

(0.7877808902724839, 0.6662719929919436)

In [27]:
model.coef_

array([-1.22697052e-01,  5.76835439e-02,  7.42047961e-02,  3.38949970e+00,
       -1.65391519e+01,  3.57730248e+00, -2.98033902e-03, -1.55759520e+00,
        2.50098217e-01, -9.73850155e-03, -1.12527834e+00,  6.85073312e-03,
       -5.92410460e-01])

In [28]:
for x in zip(df.columns, model.coef_):
    print(x)

('CRIM', -0.12269705171589189)
('ZN', 0.057683543866475576)
('INDUS', 0.07420479607308085)
('CHAS', 3.3894997004463256)
('NOX', -16.539151860487674)
('RM', 3.5773024783790226)
('AGE', -0.002980339019341865)
('DIS', -1.557595199915033)
('RAD', 0.2500982170489951)
('TAX', -0.00973850155042194)
('PTRATIO', -1.1252783397592296)
('B', 0.006850733121827553)
('LSTAT', -0.5924104604471995)

In [ ]:
# 표준화를 적용해 본다 - 성능이 좋지 않음
# 1번 방법 : 모든 X의 데이터를 한꺼번에 사용해서 표준화
from sklearn.preprocessing import StandardScaler
# boston = load_boston()
boston = pd.read_csv('boston.csv')
X = df.loc[:,'CRIM:LSTAT']
y = df['PRICE']

scaledX = StandardScaler().fit_trasform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

model = LinearRegression().fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.7697699488741149, 0.6354638433202129)

In [ ]:
# 표준화를 적용해 본다 - 성능이 좋지 않음
# 2번 방법 : train(fit, transform), test(transform) - 나누고 나서 train에 대해서만 해도 됨
from sklearn.preprocessing import StandardScaler
# boston = load_boston()
boston = pd.read_csv('boston.csv')
X = df.loc[:,'CRIM:LSTAT']
y = df['PRICE']

x_train, x_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.25,
                                                    random_state=0)
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

model = LinearRegression().fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

In [ ]:
# 정규화를 적용해 본다 - 성능이 좋지 않음
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('boston.csv')
X = df.loc[:, 'CRIM':'LSTAT']
y = df['PRICE']

scaledX = MinMaxScaler().fit_transform(X)

x_train, x_test, y_train, y_test = train_test_split(scaledX, y, 
                                                    test_size=0.25,
                                                    random_state=0)

model = LinearRegression().fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.7697699488741149, 0.6354638433202122)

### B. 다항 회귀 (Polynomial Features) 개념
- 연속형 레이블과 특성 간의 관계가 선형이 아닌 경우 1차식으로 표현이 불가능하여
2차식 이상의 다항식으로 변형하여 회귀 분석을 진행 해야함
- 기존의 특성에 다항을 적용하여 새로운 특성을 추가
- scikit-learn의 경우 PolynomialFeatures 객체를 이용하여 다항 변환 및
상호교차항을 쉽게 추가 가능

- sklearn.preprocessing.PolynomialFeatures
   - degree : 차수(2, 3, ... 과 같은 정수로 지정)
   - include_bias : 상수항 포함 유무(True)
   - interaction_only : 상호교차항만 반환 유무(False), 상호교차항 -> 다차항이 아닌 항들
   - X_poly = PolynomialFeatures.fit_transform(x)를 사용해 다항 변환
   - feature_names = PolynomialFeatures.get_feature_names()를 사용해 feature의 이름 반환
   - 1	x0	x0^2  (반환된 이름에서 1은 상수항, x0는 상호교차항, x0^2은 다차항)

In [38]:
# X0 특성을 2차항 변환(상수항 포함)
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
# 5개 instance를 갖는 1개 Feature 구조의 x 생성
x = np.arange(5).reshape(-1, 1)

# 2차항 변환을 위한 PolynomialFeatures 객체를 생성하여 P라는 이름을 지정한다.
# x에 대해 2차항을 만들고 그 결과를 DataFrame으로 변환한다.
# DataFrame의 columns는 P의 get_feature_names()를 사용한다.
degree = 2 # 2의제곱하겠다는 의미
P = PolynomialFeatures(degree, include_bias=False)
px = P.fit_transform(x)
px

array([[ 0.,  0.],
       [ 1.,  1.],
       [ 2.,  4.],
       [ 3.,  9.],
       [ 4., 16.]])

In [35]:
# X0, X1 특성을 2차항 변환(상수항 포함)
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
# 5개 instance를 갖는 2개 Feature 구조의 x 생성
x = np.arange(10).reshape(-1, 2)

# 2개의 Feature를 갖는 x에 위와 동일한 작업을 수행한다. (결과 확인)
degree = 2
P = PolynomialFeatures(degree, include_bias=False)
px = P.fit_transform(x)
df = pd.DataFrame(px, columns= P.get_feature_names())
df

    x0   x1  x0^2  x0 x1  x1^2
0  0.0  1.0   0.0    0.0   1.0
1  2.0  3.0   4.0    6.0   9.0
2  4.0  5.0  16.0   20.0  25.0
3  6.0  7.0  36.0   42.0  49.0
4  8.0  9.0  64.0   72.0  81.0

In [ ]:
# X0, X1 특성을 2차항 변환(상수항 미포함)
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
x = np.arange(10).reshape(-1, 2)

# 2개의 Feature를 갖는 x에 위와 동일한 작업을 수행한다. (결과 확인)
# 상수항을 미포함하기 위해 include_bias=False로 지정한다
degree = 2
P =

    x0   x1  x0^2  x0 x1  x1^2
0  0.0  1.0   0.0    0.0   1.0
1  2.0  3.0   4.0    6.0   9.0
2  4.0  5.0  16.0   20.0  25.0
3  6.0  7.0  36.0   42.0  49.0
4  8.0  9.0  64.0   72.0  81.0

In [39]:
# X0, X1 특성을 2차항 변환(상수항 포함)
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
# 5개 instance를 갖는 2개 Feature 구조의 x 생성
x = np.arange(10).reshape(-1, 2)

# 2개의 Feature를 갖는 x에 위와 동일한 작업을 수행한다. (결과 확인)
degree = 4
P = PolynomialFeatures(degree, interaction_only=True, include_bias=False)
px = P.fit_transform(x)
df = pd.DataFrame(px, columns = P.get_feature_names() )
display(df.shape, df)

(5, 3)

    x0   x1  x0 x1
0  0.0  1.0    0.0
1  2.0  3.0    6.0
2  4.0  5.0   20.0
3  6.0  7.0   42.0
4  8.0  9.0   72.0

### C. 다항(Polynomial) 회귀 - 보스톤 데이터

#### 보스톤 데이터에 2차항 다항 변환 적용

In [40]:
from sklearn.preprocessing import PolynomialFeatures
# 1. 2차항 다항 변환에 사용할  PolynomialFeatures 객체를 생성하여 P로 이름 붙인다.
#    단, 상수항은 제외하도록 한다
# 2. df(보스턴 데이터의 DataFrame) 의 'CRIM':'LSTAT' 열에 대해 다항 변환을 적용하여
#    x_poly 이름을 붙인다.
# 3. x_poly와 y를 75%:25% 비율로 분할하여 x_train, x_test, y_train, y_test를 생성한다
#    이때, random_state=0을 사용한다.

df = pd.read_csv('boston.csv')
X = df.loc[:, 'CRIM':'LSTAT']
y = df['PRICE']

degree = 2
P = PolynomialFeatures(degree)
x_poly = P.fit_transform(X)
x_train, x_test, y_train, y_test = train_test_split(x_poly, y, test_size=0.25, random_state=0)

# df의 'CRIM':'LSTAT' 열에대한 shape과 x_poly의 shape을 출력하여 비교한다
X.shape, x_poly.shape

((506, 13), (506, 105))

#### 모델 생성 및 학습
- 과대적합을 확인한다!
- train 데이터가 0.7697 -> 0.9520로 성능이 좋아졌음
- train과 test 데이터의 성능차이가 크며, test 데이터 쪽의 성능이 좋지 않음

In [41]:
from sklearn.linear_model import LinearRegression
# 선형회귀 모델을 생성하고, train 데이터를 사용하여 훈련시킨다. 
model = LinearRegression().fit(x_train, y_train)
# train, test 데이터를 사용해 모델의 성능을 평가한다
model.score(x_train, y_train), model.score(x_test, y_test) #과대적합이 일어남

(0.9216542085410881, 0.5515684003897579)

#### 보스톤 데이터에 3차항 다항 변환 적용

In [42]:
degree = 3
P = PolynomialFeatures(degree)
x_poly = P.fit_transform(X)
x_train, x_test, y_train, y_test = train_test_split(x_poly, y, 
                                                    test_size=0.25, 
                                                    random_state=0)
model = LinearRegression().fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test) #과대적합이 일어남

(1.0, -9443.833966314152)

#### 보스톤 데이터에 5차항 다항 변환 적용

In [43]:
degree = 5
P = PolynomialFeatures(degree)
x_poly = P.fit_transform(X)
x_train, x_test, y_train, y_test = train_test_split(x_poly, y, 
                                                    test_size=0.25, 
                                                    random_state=0)
model = LinearRegression().fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)  #과대적합이 일어남

(1.0, -135.30506301663286)

In [47]:
#함수화
def get_boston_scores(X, y, degree=2):
  P = PolynomialFeatures(degree)
  x_poly = P.fit_transform(X)
  x_train, x_test, y_train, y_test = train_test_split(x_poly, y, 
                                                      test_size=0.25, 
                                                      random_state=0)
  model = LinearRegression().fit(x_train, y_train)
  return model.score(x_train, y_train), model.score(x_test, y_test)  #과대적합이 일어남

In [48]:
for degree in range(2,6):
  print(get_boston_scores(X, y, degree))

(0.9216542085410881, 0.5515684003897579)
(1.0, -9443.833966314152)
(1.0, -1144.2632682866185)
(1.0, -135.30506301663286)

### D. Regularization
- 다항회귀 시 차수가 높아 질 수록 과대적합이 발생하여 예측 성능이 저하되는 문제가 발생
- 과대적합을 방지하기 위해서는 가중치의 크기를 제어 필요
- 기존의 비용 함수에 규제(Penalty) 항을 추가하여 가중치의 크기를 제어 가능